{% extends 'base.html.twig' %}
   {% block title %}
       Mon Compte
   {% endblock %}
{% block body %}
    <div class="container">
        <h1>Mon Compte</h1>
        {% if app.user.profile and is_granted('ROLE_CUSTOMER') %}
            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th>Nom et prénom</th>
                    <td>{{ app.user.fullName|title }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ app.user.profile.phone }}</td>
                </tr>
                <tr>
                    <th>Adresse de messagerie</th>
                    <td>{{ app.user.email }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ app.user.profile.address }}</td>
                </tr>
                <tr>
                    <th>Code postal</th>
                    <td>{{ app.user.profile.postalCode }}</td>
                </tr>
                <tr>
                    <th>Gouvernorat</th>
                    <td>{{ app.user.profile.city }}</td>
                </tr>
                </tbody>
            </table>
            <div class="text-left">
                <a href="{{ path('app_profile_edit',{'id':app.user.profile.id}) }}" class="btn btn-primary">Modifier mes
                    informations</a>
                <a href="{{ path('app_profile_change_password') }}" class="btn btn-secondary">Changer
                    Mot de passe</a>
            </div>
        {% elseif  app.user.profile and is_granted('ROLE_SUPPLIER') %}

            <table class="table table-borderless">
                <tbody>
                <tr>
                    <th>Nom de l'entreprise</th>
                    <td>{{ app.user.profile.company }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ app.user.profile.bio }}</td>
                </tr>
                <tr>
                    <th>Type de l'entreprise</th>
                    <td>{{ app.user.profile.type }}</td>
                </tr>
                <tr>
                    <th>Activité</th>
                    <td>{{ app.user.profile.activity }}</td>
                </tr>
                <tr>
                    <th>Nom et prénom</th>
                    <td>{{ app.user.fullName|title }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ app.user.profile.phone }}</td>
                </tr>
                <tr>
                    <th>Adresse de messagerie</th>
                    <td>{{ app.user.email }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ app.user.profile.address }}</td>
                </tr>
                <tr>
                    <th>Code postal</th>
                    <td>{{ app.user.profile.postalCode }}</td>
                </tr>
                <tr>
                    <th>Gouvernorat</th>
                    <td>{{ app.user.profile.city }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>{{ app.user.profile.phone }}</td>
                </tr>
                <tr>
                    <th>Portable</th>
                    <td>{{ app.user.profile.mobile }}</td>
                </tr>
                <tr>
                    <th>Matricule fiscale</th>
                    <td>{{ app.user.profile.vatId }}</td>
                </tr>
                <tr>
                    <th>Site web</th>
                    <td>{{ app.user.profile.webSite }}</td>
                </tr>
                </tbody>
            </table>
            <div class="text-left">
                <a href="{{ path('app_profile_edit',{'id':app.user.profile.id}) }}" class="btn btn-primary">Modifier mes
                    informations</a>
                <a href="{{ path('app_profile_change_password') }}" class="btn btn-secondary">Changer
                    Mot de passe</a>
            </div>
        {% else %}
            <div class="text-center">
                <a href="{{ path('app_profile_new') }}" class="btn btn-primary">Remplir mes informations</a>
            </div>
        {% endif %}
    </div>
{% endblock %}



