{% extends 'base.html.twig' %}

{% block title %}Demande index{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mes demandes
            <a href="{{ path('app_demande_new') }}" class="btn btn-primary float-right">Ajouter une demande</a>
        </h1>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Titre (Budget)</th>
                <th>Date de départ</th>
                <th>Date limite</th>
                <th>Crée le</th>
                <th>Statut</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for demande in demandes %}
                <tr>
                    <td>
                        <a href="{{ path('app_demande_show', {'id': demande.id}) }}"> {{ demande.title }}
                            ({{ demande.budget }}€)
                        </a>
                    </td>
                    <td>{{ demande.startAt ? demande.startAt|date('d/m/Y') : '' }}</td>
                    <td>{{ demande.limitAt ? demande.limitAt|date('d/m/Y') : '' }}</td>
                    <td>{{ demande.createdAt ? demande.createdAt|date('d/m/Y') : '' }}</td>
                    <td>{% include'demande/_status.html.twig' with { status: demande.status } %}</td>
                    <td><span class="badge badge-secondary">0</span></td>
                    <td>
                        <a href="{{ path('app_demande_edit', {'id': demande.id}) }}"><i class="fa fa-edit"></i></a>

                        <a href="" data-toggle="modal"
                           data-target="#deleteModal-{{ demande.id }}">
                            <i class="fa fa-trash-alt"></i>
                        </a>
                        {{ include('demande/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr class="text-center text-danger bg-light">
                    <td colspan="13">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}
